@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-17 22:45:46
 * @version $Id$
 */
body {
    background: #F1F2F4;
}
#content {
    margin-top: 50px;
    background: #fff;
    border-bottom: 1px solid #E7E7E7;
}
/*日期选择*/
#reportrange {
    margin-left: 10px;
    background: #fff;
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}
/*筛选列*/
#col-filter {
    padding-top: 25px;
}
#conatiner-compare {
    background: #fff;
    margin-top: 40px;
}
#row-compare-header {
    padding: 10px 15px 10px 0;
}
/*图标列*/
.icon-col {
    width: 70px;
}
.icon {
    max-height: 50px;
    max-width: 50px;
}
/* 应用名列居左 */
thead tr th[data-field="appName"] {
    text-align: left;
}
.both div{
    padding-left: 18px;
}
/* 提示框宽度 */
.tooltip-inner {
    min-width: 100px;
    max-width: 100%; 
}
/* 应用平台标志 */
.platform-badge {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    color: #A0A0A0;
    /*line-height: 25px;*/
}
.platform-badge img{
    width: 20px;
    height: 20px;
}
/* 应用名 */
.appname a {
    font-size: 16px;
}
/* 列内居中 */
.grade-col, .chart-col {
    text-align: center;
}
/*表格列内居中*/
.table > tbody > tr > td {
    vertical-align: middle;
}
/*评分列星星图标颜色*/
.grade-col i {
    color: #F3B636;
}